.text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-finish {
    font-weight: bold;
    color: #f0a818;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.result-text {
    font-size: 36px;
    text-align: center;
}

.result-text span {
    font-weight: bold;
    color: #f0a818;
}

.play-againg-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.play-againg-button {
    width: 100%;
    font-size: 36px;
    padding: 20px;
}