.section-container {
    height: 100vh;
    background-color: bisque;
}

.options-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option {
    background-color: rgb(255, 241, 196);
    padding: 20px;
}